- name: "Run all role tasks for Ubuntu"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    cfg_fonts_system_unifont_pkg_name: "{{ cfg_fonts_ubuntu_unifont_pkg_name }}"
    cfg_fonts_system_terminus_pkg_name: "{{ cfg_fonts_ubuntu_terminus_pkg_name }}"
    cfg_fonts_system_liberation_pkg_name: "{{ cfg_fonts_ubuntu_liberation_pkg_name }}"
    cfg_fonts_system_dejavu_pkg_name: "{{ cfg_fonts_ubuntu_dejavu_pkg_name }}"
    cfg_fonts_system_gnu_freefont_pkg_name: "{{ cfg_fonts_ubuntu_gnu_freefont_pkg_name }}"
    cfg_fonts_system_libertinus_pkg_name: "{{ cfg_fonts_ubuntu_libertinus_pkg_name }}"
    cfg_fonts_system_droid_pkg_name: "{{ cfg_fonts_ubuntu_droid_pkg_name }}"
    cfg_fonts_system_msfonts_pkg_name: "{{ cfg_fonts_ubuntu_msfonts_pkg_name }}"
    cfg_fonts_system_nerd_fonts_pkg_name: "{{ cfg_fonts_ubuntu_nerd_fonts_pkg_name }}"
  when: ansible_distribution == "Ubuntu"

- name: "Run all role tasks for Arch Linux"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    cfg_fonts_system_unifont_pkg_name: "{{ cfg_fonts_archlinux_unifont_pkg_name }}"
    cfg_fonts_system_terminus_pkg_name: "{{ cfg_fonts_archlinux_terminus_pkg_name }}"
    cfg_fonts_system_liberation_pkg_name: "{{ cfg_fonts_archlinux_liberation_pkg_name }}"
    cfg_fonts_system_dejavu_pkg_name: "{{ cfg_fonts_archlinux_dejavu_pkg_name }}"
    cfg_fonts_system_gnu_freefont_pkg_name: "{{ cfg_fonts_archlinux_gnu_freefont_pkg_name }}"
    cfg_fonts_system_libertinus_pkg_name: "{{ cfg_fonts_archlinux_libertinus_pkg_name }}"
    cfg_fonts_system_droid_pkg_name: "{{ cfg_fonts_archlinux_droid_pkg_name }}"
    cfg_fonts_system_msfonts_pkg_name: "{{ cfg_fonts_archlinux_msfonts_pkg_name }}"
    cfg_fonts_system_nerd_fonts_pkg_name: "{{ cfg_fonts_archlinux_nerd_fonts_pkg_name }}"
  when: ansible_os_family == "Archlinux"

- name: "Run all role tasks for FreeBSD"
  ansible.builtin.include_tasks: run_all_tasks.yml
  vars:
    cfg_fonts_system_unifont_pkg_name: "{{ cfg_fonts_freebsd_unifont_pkg_name }}"
    cfg_fonts_system_terminus_pkg_name: "{{ cfg_fonts_freebsd_terminus_pkg_name }}"
    cfg_fonts_system_liberation_pkg_name: "{{ cfg_fonts_freebsd_liberation_pkg_name }}"
    cfg_fonts_system_dejavu_pkg_name: "{{ cfg_fonts_freebsd_dejavu_pkg_name }}"
    cfg_fonts_system_gnu_freefont_pkg_name: "{{ cfg_fonts_freebsd_gnu_freefont_pkg_name }}"
    cfg_fonts_system_libertinus_pkg_name: "{{ cfg_fonts_freebsd_libertinus_pkg_name }}"
    cfg_fonts_system_droid_pkg_name: "{{ cfg_fonts_freebsd_droid_pkg_name }}"
    cfg_fonts_system_msfonts_pkg_name: "{{ cfg_fonts_freebsd_msfonts_pkg_name }}"
    cfg_fonts_system_nerd_fonts_pkg_name: "{{ cfg_fonts_freebsd_nerd_fonts_pkg_name }}"
  when: ansible_os_family == "FreeBSD"

