- name: "Install bitmap font packages"
  block:
    - name: "Install 'Unifont' bitmap font"
      community.general.pacman:
        name: bdf-unifont
        state: present
      when: cfg_fonts_install_unifont_font
    - name: "Install 'Terminus' bitmap font"
      community.general.pacman:
        name: terminus-font
        state: present
      when: cfg_fonts_install_terminus_font
  become: true
  become_user: root

