- name: "Install official outline font packages"
  block:
    - name: "Install 'Liberation' outline font"
      ansible.builtin.package:
        name: ttf-liberation
        state: present
      when: cfg_fonts_install_liberation_font
    - name: "Install 'DejaVu' outline font"
      ansible.builtin.package:
        name: ttf-dejavu
        state: present
      when: cfg_fonts_install_dejavu_font
    - name: "Install 'GNU FreeFont' outline font"
      ansible.builtin.package:
        name: gnu-free-fonts
        state: present
      when: cfg_fonts_install_gnu_freefont_font
    - name: "Install 'Libertinus' outline font"
      ansible.builtin.package:
        name: libertinus-font
        state: present
      when: cfg_fonts_install_libertinus_font
    - name: "Install 'Droid' outline font"
      ansible.builtin.package:
        name: ttf-droid
        state: present
      when: cfg_fonts_install_droid_font
    - name: "Install 'nerd-fonts' outline fonts"
      ansible.builtin.package:
        name: nerd-fonts
        state: present
      when: cfg_fonts_install_nerd_fonts
  become: true
  become_user: root

